<nav>
  <img src="/img/logo.png" class="logo" />
  <ul id="sidemenu">
    <li><a href="/">Home</a></li>
    <li><a href="/">Open Source</a></li>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <i class="fa-solid fa-xmark" onclick="closemenu()"></i>
  </ul>
  <i class="fa-solid fa-bars" onclick="openmenu()"></i>
</nav>
<div class="header-text">
  <p>Senior Software Developer</p>
  <h1>Hi, I'm <span>Shaleen</span><br />from India</h1>
</div>

